.progressCard {
  /* margin-left: 0px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  padding: 12px;
  border-radius: 12px;
  border: 3px solid var(--primary-yellow);
  background-color: var(--secondary-yellow);
}

.progressCardIcon {
  border-radius: 8px;
  display: flex;

  color: var(--primary-yellow);
  font-size: 32px;
}

.amount {
  padding-left: 4px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-brown);
}

.titleCard {
  padding-left: 4px;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  color: var(--primary-brown);
}
