.iconBtn {
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-btn:hover {
  opacity: 0.85;
}

.icon-btn {
  line-height: 0;
  padding: 0;
}

.icon-btn > svg,
.icon-btn > img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  display: block;
}

.icon-btn > i {
  font-size: 1.1em;
  line-height: 1;
}

.icon-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.icon-btn .button-icon {
  margin-right: 8px;
}
