.navbar {
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.container {
  display: flex;
  gap: 10px;
  background: #e5e7eb;
  padding: 8px;
  border-radius: 20px;
  flex-shrink: 0;
  align-items: center;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 12px 18px;
  background: transparent;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #4b5563;
  cursor: pointer;
}

.navItem svg {
  font-size: 18px;
}

.active {
  background: white;
  color: #4338ca;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.badge {
  background: #f97316;
  color: white;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: bold;
}
.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 8px 12px;

  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.iconSearch {
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}
