.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.contentLeft {
  margin-left: 20px;
  padding-right: 32px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoIcon {
  width: 48px;
  height: 48px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
}

.logoIcon svg {
  font-size: 20px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.contentRight {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  margin: 0;
}

.dashboardLayout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 350px;
}

.personalSideBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.logoContent {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.userProfile {
  display: flex;
}

.logoUser {
  width: 62px;
  height: 62px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
}
.userInfo {
  padding-left: 12px;
}
.userName {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.userEmail {
  font-size: 16px;
  margin: 0;
}

.roleSidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 20px 20px 10px 20px; /* Diubah: margin bawah jadi 10px saja */
  padding: 12px 12px;
  border-radius: 12px;
  border-color: #6c8dc6;
  border-width: 1px;
  background-color: #f1f2f5;
}

.roleTitle {
  font-size: 16px;
  margin: 0;
}

.roleName {
  color: #2575fc;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.roleIcon {
  color: #2575fc;
  font-size: 20px;
}

.topSidebar {
  display: flex;
  flex-direction: column;
}

.topContentSidebar {
  padding: 20px 20px 10px 20px;
}

.titleName {
  font-size: 14px;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cardTagAdmin {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.circleTag {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2575fc;
}

.nameTag {
  font-size: 14px;
  margin: 0;
  color: #333;
}
