.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.contentLeft {
  margin-left: 20px;
  padding-right: 32px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoIcon {
  width: 48px;
  height: 48px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background: linear-gradient(to bottom, #59168b, #264294);
}

.logoIcon svg {
  font-size: 20px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.contentRight {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  margin: 0;
}

.dashboardLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.progressCardList {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gridProgressCard {
  flex: 1 1 180px;
}

.buttonUploadDocument {
  margin-left: auto;
  padding-bottom: 14px;
  padding-right: 14px;
}

.contentCard {
  display: flex;
  gap: 16px;
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  border: 3px solid var(--primary-orange);
}

.contentCardRight {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contentCardTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.iconCard {
  background-color: var(--secondary-orange);
  color: var(--primary-red);

  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  font-size: 18px;
}

.titleCard {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.titleDocument {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.subtitleDocument {
  font-size: 14px;
  margin: 0;
  color: #6c757d;
}

.uploadDetail {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: #6c757d;
}

.uploadSigned {
  display: flex;
  align-items: center;
  gap: 6px;
}
.amountCard {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}

.progressBar {
  padding-top: 12px;
  width: 100%;
}

.statusCard {
  padding: 8px 12px;
  background-color: var(--secondary-blue);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--primary-blue);
  align-self: flex-start;
}

.iconStatusCard {
  color: var(--primary-blue);
  display: flex;
  align-items: center;
}
.statusText {
  font-size: 12px;
  margin: 0;
}

.progressBar {
  padding-top: 12px;
  width: 100%;
}

.signatories {
  font-size: 12px;
  margin: 0;
  color: #6c757d;
}

.actionButton {
  display: flex;
  gap: 12px;
}
